@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    min-height: 100vh;
    background-color: aliceblue;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 30px;
    font-variant: small-caps;
    font-size: 40px;
}
header > p{
    padding-bottom: 30px;
}

a{
    color: aliceblue;
    text-decoration: none;
    transition-duration: 0.2s;
}
a:hover{
    color: #bfc5cc;
    text-decoration: underline;
}

section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 30px;
    line-height: 2em;

    font-size: 3vh;
    font-family: Merienda, cursive;
}
section > p{
    padding: 1.5em 0em;
}

.normal{
    background-color: white;
}

.image{
    background-color: #3d3d3d;
    color: white;
    
    background-size: contain;
    box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.678);
    background-attachment: fixed;
}
.image > p{
    background-color: rgba(0, 0, 0, 0.527);
    width: fit-content;
    padding-right: 15px;
    padding-left: 5px;
}
#img1{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}
#img2{
    background-image: url(../imagens/background002.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-variant: small-caps;
    letter-spacing: 1.5px;
}